h1 {
  color: navy;
  text-align: center;
  font-size: 35px;
}
h2.h2-text {
  text-align: center;
  font-size: 30px;
  color: darkcyan;
}

table {
  border-collapse: collapse;
  margin: auto;
}
th,
td {
  padding: 10px;
  border: 1px solid gray;
  font-size: 18px;
}
th {
  text-align: left;
}
tr:nth-child(even) {
  background-color: lightgray;
}

.family-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
hr {
  width: 25%;
}

footer {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(83, 53, 167);
  border-radius: 15%;
}
.style {
  font-size: 20px;
  text-align: center;
}
li {
  list-style-type: none;
}

/* w3schools css for contact form */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
